@charset "utf-8";

/* === GLOBALS START === */

#maskTransfer{
}
:root {
	--color1: #ffffff;
	--color2: #181818;
	--color3: #242424;
	--color4: #85782e;
    --color5: #859142;
    --color6: #ff0033;
  }
body {
	color: var(--color1);
	background-color: var(--color2);
	margin: 0;
	display: flex;
    flex-wrap: wrap;
    font-family: 'Poppins', sans-serif;
    /*font-variant: small-caps;*/
    letter-spacing: 2px;
    align-content: flex-start;
    font-weight: 300;
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;      
}
input, textarea, button, select, a, div { -webkit-tap-highlight-color: rgba(0,0,0,0); }
body > *{
    width: 100%;
}
#loader{
    margin: auto;
    width: min-content;
}
input{
}
/* TEMP too many consequences */
/* model-viewer{
    position: absolute;
    height:80%;
} */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
}

model-viewer {
    --poster-color: transparent
}


/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

/* === GLOBALS END === */

#header{
    top:0;
    z-index: 5;
    padding: 5% 5% 0;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 500;
}
#header>*{
float: left;
}

/* TEMP removing and replacing */
/* #account .flex div{
    cursor: pointer;
    text-align: center;
} */
#account .flex div .br{
    margin: 15%;
    width: 70%;
}
#hd{
    margin: 9px 24px 24px 24px;
    width: calc(100% - 164px);
    text-align: center;
    cursor: pointer;
}
#hb{
    width: 42px;
    margin-bottom: 10px;
    cursor: pointer;
}
#hb div{
    height:3px;
    margin: 10px auto 10px auto;
    width: 90%;
    border-radius: 2px;
    background-color: var(--color1);
}
#hb:hover div{
    background-color: var(--color4);
}
.br{
    margin:auto;
    width:96%;
    height: 1px;
    background-color: var(--color1);
}
#ac{
    cursor: pointer;
    width: 48px;
}
#nav{
    top:64px;
    height:32px;
}
#content{
    top:96px;
    padding-bottom:64px;
    padding-top: 50px;
    max-width: 1600px;
    margin: 0 auto;
    box-sizing: border-box;

}
#footer{
    display: none;
    bottom: 0px;
    height: 32px;
    padding: 0 32px;
}

/*page specific*/
#default{
    overflow-x: hidden;
}
#default model-viewer{
    width:100%;
    height: 750px;
}
/*gallery*/
#gallery model-viewer{
    width:100%;
    height: 100%;

}
#gallery #header,#gallery #footer,#gallery #sidebar{
    display: none;
}
#gallery #content{
    padding: 0;
    top: 0;
}

/* TEMP remove lot wrappings */
/* #lotBox{
    padding: 5%;
    word-break: break-word;
}
#lotBox>.button{
    padding:16px;
}
#lotBox>*{
    padding: 5%;
} */
/* #lotBox model-viewer{
    width: 200;
    height: auto;
    position: relative;
    height: 300;
    float: left;
} */
#collectionBox{
    word-break: break-word;
    padding: 5%;
}
#assetList .box{
    padding: 32px 32px 0;
}
#assetList model-viewer{
    height:190px;
}
h1{
    font-weight: 700;
    margin-top: 0;
}
h2{
    
    font-family: 'Montserrat', sans-serif;
}
#collectionBox>*{
    padding: 5%;
}
#collectionBox model-viewer{
    width: 200;
    height: auto;
    position: relative;
    height: 300;
    float: left;
}

/*UI*/
#data{
    user-select: initial;
}
#modelSelect{
    position: absolute;
    bottom:0;
    top:80%;
    height: 20%;
    overflow-y: hidden;
    /* We set the scroll snapping */
    scroll-snap-type: x mandatory;
    /* Necessary for mobile scrolling */
    -webkit-overflow-scrolling: touch;
    /* For layout purposes */
    display: flex;
    overflow-x: scroll;

    text-align: center;
    scroll-behavior: smooth;
}
#modelSelect>*{
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* Set where the snapping should happen */
    scroll-snap-align: start;
    scroll-behavior: smooth;
}
#minimizeButton{
    display: none;
    position: absolute;
    width: 40px;
    height: 40px;
    left:16px;
    bottom:16px;
    transform: rotate(180deg);

}
#maximizeButton{
    display: none;
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: calc(20% + 16px);
    left:16px;

}
#nextButton{
    position: absolute;
    transform: rotate(270deg);
    width: 40px;
    height: 40px;
    bottom: calc(10% - 20px);
    right:16px;
    z-index: 20;

}
.popup{
    padding: 5%;
    font-size: 16px;
	color: var(--color1);
	background-color: var(--color2);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    z-index: 6;
}
.popup>div{
    background-color: var(--color2);
    padding: 16px;
    font-size: 18px;
    margin: 32px auto;
    width: 50%;
}
.popup a{
    color: var(--color4);
}
input, .popup textarea{
    display: initial;
    background-color: var(--color2);
    color: var(--color1);
    margin: 3% 25%;
    width: 50%;
    font-size: 22px;
    border:0px;
    border-bottom: 2px solid var(--color1);
}

#overlay{
    position: fixed;
    height: 100%;
    z-index: 11;
    display: none;
    opacity: 0;
    background-color: var(--color2);
}
#connectAccount .box{
    cursor: pointer;
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
}
#connectAccount input{
    font-size: 24px;
    padding: 4px;
    border: 2px solid var(--color1);
    font-family: 'Montserrat';
}
#connectAccount{
    max-width: 600px;
    margin: auto;
    padding: 5%;
} 
select{
    background-color: var(--color1);
    font-family: 'Montserrat', sans-serif;
}

.pad{
    padding: 0 6%;
}
.mobile{
    display: none;
}
.mobile img{
    width: 100%;
}
.box{
    background-color: var(--color1);
    color: var(--color2);
    border: 2px solid var(--color2);
    margin:5px;
    padding: 5px;
    overflow: auto;
}
.box input{
    display: initial;
    color: var(--color1);
    background-color: var(--color2);
    border-color: var(--color1);
    margin: 0 5%;
    width: 89.8%;
}
.button{
    color: var(--color1);
    background-color: var(--color2);
    cursor: pointer;
    border: 2px solid var(--color1);
    justify-content: center;
    align-content: center;
    text-align: center;
    padding: 16px;
    margin: 50px auto;
}
#lot .button{
    color: var(--color2);
    background-color: var(--color1);

}
.button:hover{
    color: var(--color4);
}
a:link {
    color: var(--color4);
    text-decoration: none;
}

a:visited {
    color: var(--color4);
    text-decoration: none;
}
a:visited {
    color: var(--color4);
}
a:hover {
    color: var(--color4);
}
a:active {
	color: var(--color5);
}
#sidebar>a, #sidebar a:visited, #sidebar a:link{
    color: var(--color2);
}
/*mobile*/

#sidebar2 div{
    margin: 10px 0;
    cursor: pointer;
}
#sidebar2 div:hover{
    color: var(--color4);
}
#sidebar2 .br{
    margin: 16px 0;
}
#sidebar{
    background-color: var(--color1);
    color: var(--color2);
    overflow: hidden;
    position: fixed;
    height:100%;
    width:0;
    z-index: 12;
    left: 0;
}
#sidebar div{

    margin: 10%;
    cursor: pointer;
}
#sidebar .br{
    width: auto;
    background-color: var(--color2);
}
.flex{
    display: flex;
}
.flex>*{
    flex: 1;
}
.w1{
    width: 100%;
}
.w5{
    width: 50%;
}

/* ==== ELEMNTS STYLED WITH BEM NAMING SCHEMA https://en.bem.info/methodology/css/ === */

/* profileInfo */
.profileInfo {
    text-align: left;
    flex-basis: 25%;
    flex-grow: 0;
    max-width: 100%;
}
.profileInfo__photo{
    display: block;
    width: 150px;
    margin: 0 !important;
     /*^ I hate this but its needed TEMP */
}
.profileInfo__userName{
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 40px;
    position: relative;
    padding-bottom: 15px;
    font-size: 24px;
    font-weight: 700;

}
.profileInfo__userName > label{
    font-weight: bold;
}
.profileInfo__userName:hover{
    color: var(--color4);
}
.profileInfo__userName:before{
    content: "";
    width: 65px;
    height: 1px;
    border-bottom: 1px solid var(--color1);
    position: absolute;
    bottom: 0;
}
.profileInfo__userName--edit:hover{
    color: var(--color1);
}
.profileInfo__userName--edit{
    display: flex;
}
.profileInfo__userName--edit > input{
    flex-grow: 2;
    margin: 0 0 0 5px;
}

.profileInfo__userAttribute{
    display: flex;
    margin-bottom: 30px;
}
.profileInfo__userAttribute > span{
    margin-left: 5px;
    cursor:pointer;
}
.profileInfo__userAttribute > span:hover:after{
    content: "✎"
}
.profileInfo__userAttribute > span:hover{
    color: var(--color4);
}
.profileInfo__userAttribute > input{
    flex-grow: 2;
    margin: 0px 0px -2px 5px;
}
.profileInfo__userAttribute > label{
    font-weight: bold;
    white-space: nowrap;
}

.profileInfo__logout{
    cursor: pointer;
    font-size: 20px;
}
.profileInfo__logout:hover{
    color: var(--color4);
}

/* profileAssets */
.profileAssets{
    flex-grow: 1;
    position: relative;
    max-width: calc(100% - 50px);
}
.profileAssets__collection{
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
    justify-content: center;
    max-width: 100%;
}
.profileAssets__header{
    text-align: right;
    margin-bottom: 30px;
}
.profileAssets__headerItem{
    text-transform: uppercase;
    display: inline-block;
    font-size: 18px;
    margin-left: 30px;
}
.profileAssets__headerItem:hover{
    color: var(--color5);
    cursor: pointer;
}
.profileAssets__headerItem--current{
    font-weight: bold;
    color: var(--color4);
}
.profileAssets__collectionItem{
    flex-basis: 50%;
}
.accountContent__wrapper{
    width: calc(100% - 16px);
}

.wallet__address{
    max-width: 100%;
    user-select:all;
    overflow: hidden;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.wallet__label{
    font-weight: bold;
    margin-top: 20px;
    display: block;
    width: 100%;
    text-align: center;
}
.wallet__attribute{
    display: block;
    width: 100%;
    text-align: center;
}
/* lotAssets */
.lotAsset__title{
    display: inline-block;
    margin-bottom: 50px;
    position: relative;
    padding-bottom: 15px;
    width: 50%;
    vertical-align: top;
}
.lotAsset__title:before{
    content: "";
    width: 65px;
    height: 1px;
    border-bottom: 1px solid var(--color1);
    position: absolute;
    bottom: 0;
}
.lotAsset__wrapper{
    display: flex;
    flex-wrap: wrap;
}
.lotAsset__content{
    display: flex;
    flex-basis: 75%;
    text-align: center;
}
.lotAsset__name{
    position: relative;
    padding-bottom: 8px;
}
.lotAsset__name:before{
    content: "";
    width: 25px;
    height: 1px;
    border-bottom: 1px solid var(--color1);
    position: absolute;
    bottom: 0;
}
.lotAsset__attribute{
    margin-bottom: 10px;
}
.lotAsset__details{
    flex-basis: 50%;
    text-align: left;
    padding: 30px;
}
.lotAsset__viewer{
    flex-basis: 50%;
    position: relative;
    padding-top: 50%;
    margin-bottom: 40px;
}
.lotAsset__auction{
    flex-basis: 25%;
    padding-top: 30px;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
}
.lotAsset__model{
    display: block;
    height: auto;
    background-color: transparent;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}
.lotAsset__modelShare{
    margin: 0 5px;
    position: relative;
    bottom: -40px;
}
.lotAsset__shareInput{
    position: absolute;
    left: -999em;
}
.lotAsset__linkouts{
    display: inline-block;
    text-align: right;
    font-size: 24px;
    width: calc(50% - 7px);
    padding-left: 0px;
    font-weight: bold;
}
.lotAsset__linkouts li{
    display: inline-block;
    margin-left: 10px;
}
.lotAsset__tags{
    display: block;
}
.collectionItem__modelViewerWrapper{
    position: relative;
    padding-top: 100%;
}
.collectionItem__modelViewerWrapper > model-viewer{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    background-color: var(--color2)
}
.collectionItem__facePreview{
    position: absolute; 
    bottom: 5px;
    right: 5px;
}
.collectionItem__attributes{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.collectionItem__wrapper{
    margin: 10% 10% 20% 10%;

}
.collectionItem__artist{
    flex-basis: 100%;
}
.collectionItem__link{
    cursor: pointer;
    text-transform: uppercase;
}

.market__collection{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: calc(-5% + 16px);
    margin-left: calc(-5% + 16px);
}
.market__collectionItem{
    flex-basis: 33%;
} 
.market__banner{
    display: block;
    width: 100%;
}
.market__bannerImage{
    width: 100%;
}
.market__heading{
    float: left;
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 30px;
}
.market__heading:after{
    content: "";
    width: 65px;
    height: 1px;
    border-bottom: 1px solid var(--color1);
    position: absolute;
    bottom: 0;
    left: 10px;
}
.market__filterHeading{
    font-size: 32px;
    margin-left: 15px;
    float: left;
}
.loginOption__wrapper{
    text-align: center;
    padding-top: 55px;
}
.loginOption__image{
    height: 200px;
}
.loginOption__image:hover{
    cursor: pointer;
}
.subhead__nav{
    list-style-type: none;
    padding-left: 0;
    text-align: right;
}
.subhead__navItem{
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    padding-left: 30px;
    font-size: 18px;
}
.subhead__navItem--active > a{
    color: var(--color1)
}
.subHead__tagCloud{
    display: block;
    text-align: right;
}
.subHead__tagItem{
    list-style: none;
    display: inline-block;
    margin-left: 15px;
}
.auction__input{
    margin: 0;
    width: 100%;
    display: block;
    text-align: right;
    margin-bottom: 30px;
}
.auction__label{
    display: block;
    margin-bottom: 5px;
}
.auction__attribute{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.auction__bidder{
    margin-bottom: 10px;
}
.auction__history{
    margin-bottom: 10px;
    max-height: 200px;
    overflow: hidden;
    position: relative;
}
.auction__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    background-image: linear-gradient(to bottom, transparent, var(--color2));

}
/* "h-*" classes are helper classes that have very few styles that can be used across components.
helper classes should e used sparingly 
*/
.h-100pw{
    width: 100%;
}
.h-prel{
    position: relative;
}
.h-flex-g1{
    flex-grow:1;
}
.h-flex{
    display: flex;
}
.h-tooltip{
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: -40px;
    left: 50%;
    margin-left: -75px;
    transition: opacity 0.3s;
    font-size: 16px;
    opacity: 0;
    pointer-events: none;
}
.h-tooltip::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #555 transparent;
  }

.h-form-error{
    color: var(--color6);
    font-size: 80%;
}

@media (orientation: portrait) {
    .mobile{
        display: initial;
    }
    #content{
        padding-left: 5%;
        padding-right: 5%;
    }
    .popup input, .popup textarea{
        width: 80%;
        margin: 3% 10%;
    }
    .wrap{
        flex-wrap:wrap;
    }
    .wrap>*{
        flex-basis: 100%;
    }
    .wrap model-viewer {
    }
    h2{
        font-size: 16px;
    }
    body{
        font-size: 14px;
    }
    .profileAssets__header{
        text-align: left;
        margin-top: 30px;
    }
    .profileAssets__headerItem{
        margin-left: 0px;
        margin-right: 30px;
    }
    .profileInfo__userAttribute--edit{
        flex-wrap: wrap;
    }

    .profileInfo__userAttribute--edit > * {
        margin-bottom: 5px;
        font-size: 16px;
        margin-bottom: 0;
    }
    .profileInfo__userName--edit > *{
        margin-bottom: 5px;
    }
    .profileInfo__userAttribute > span:after{
        content: "✎"
    }
    .profileAssets__collection{
        padding: 0px;
    }
    .profileAssets__collectionItem{
        flex-basis: 100%;
    }
    .profileInfo__userName--edit{
        flex-wrap: wrap;
    }
    .lotAsset__content{
        flex-basis: 100%;
    }
    .lotAsset__auction{
        flex-basis: 100%;
    }
    .lotAsset__details{
        flex-basis: 100%;
        padding: 0px;
    }
    .lotAsset__viewer{
        flex-basis: 100%;
    }
    .lotAsset__content{
        flex-wrap: wrap;
    }
    .lotAsset__title{
        width: 100%;
    }
    .lotAsset__linkouts{
        width: 100%;
    }
    .lotAsset__auction{
        text-align: left;
    }
    .lotAsset__attribute{
        max-width: calc(100vw - 50px);
        overflow: scroll;
    }
    .collectionItem__wrapper{
        margin: 0 0 5% 0;
    }
    .market__collectionItem{
        flex-basis: 100%;
    }
    .market__filterHeading{
        font-size: 28px;
        float:inherit;
    }
    .subhead__nav{
        text-align: left;
        margin-top: 40px;
    }
    .subhead__navItem:first-of-type{
        padding-left: 0px;
    }
    .subHead__tagCloud{
        text-align: left;
        padding-left: 0px;
    }
    .subHead__tagItem{
        margin-left:0px;
        margin-right: 10px;
    }
}
#collection #footer{
    display: none;
}
#account .flex img:hover{
    filter: brightness(0.5);
}