body {
    margin: 0;
    padding: 0; 
    font-family: "StanLee", "Bangers", 'Roboto', serif;
    /*letter-spacing: 1px;*/
    background-color: #18191b;    
    background-image:url("../images/comicDoom.jpg");
    background-size:34% auto;
    background-repeat: no-repeat;
}
p{
    letter-spacing: 0;
    font-size: 16px;
}
.button{
    font-size: 14px;
    width: 50%;
    padding: 1vh;
    margin: 1vh auto 7vh auto;
    font-family: "Bangers", 'Roboto', serif;
}
h1{
    font-family:  "Bangers", "RM";
    text-align: center;
    -webkit-text-stroke-color: #18191b;
    text-shadow:
    -10px -10px 0 #18191b,  
     10px -10px 0 #18191b,
    -10px  10px 0 #18191b,
     10px  10px 0 #18191b;

}
#home{
    width:60%;
    height:100vh;
    position: absolute;
    -webkit-text-stroke-color: #18191b;
    right:0;
    padding: 2%;
    color: #d2d1dc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 16px;
    border-radius: 16px;
}
#heading-style{
    font-size: 100px;
}
#time{
    display: flex;
    color: rgb(155, 143, 143);
    font-size: 40px;
    width:90%;
    justify-content: space-around;
    margin: auto;
    
}
#clock{
    display: flex;
    color:rgba(255,255,255,0.7);
    font-size:100px;
    font-family: "Bangers", Courier, monospace;
    height:90px;
    justify-content: space-around;
    line-height:1;
    overflow: hidden;
    position: relative;
    font-variant-numeric: tabular-nums lining-nums;
}

/* animation below */
.move{
    animation: move ease-in-out 1s infinite;
}
@keyframes move{
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(-25vh);
    }
}
.collector{
    text-align: center;
    align-items: center;
    margin-top: 10px;
}
input{
    margin: 10px auto;
    font-family: "StanLee", "Bangers", 'Roboto', serif;
    display: initial;
    -webkit-text-stroke-width: 0;
}
.collector, input{
    font-size: 28px;
    
}

@media (orientation: portrait) {
    body{
        background-size: 100% auto;
    }
    #home{
        width: 90%;
        height: 50%;
        bottom: 0;
        right: 1%;
        background-color: #18191b;
    }
    p{
        font-size: 36px;
        line-height: 1;
    }
    #time{
        width: 100%;
    }
    #clock{
        color: #ffffff;
    }
    input{
        text-align: center;
        font-size: 65px;
        width: 100%;
        margin-bottom: 32px;
        padding: 6px;
    }
    .button{
        font-size: 50px;
        background-color: #18191b;
        letter-spacing: 8px;
        color: #ffffff;
    }
    #heading-style{
        font-size: 14.5vw;
        color: #ffffff;
    }
    
    h1{
        margin: 0 0 32px 0;
    }
    @keyframes move{
        from{
            transform: translateY(0);
        }
        to{
            transform: translateY(-8vh);
        }
    }
}
.sc{
    font-variant: small-caps;
    font-size: 48px;
    font-family: "Bangers", Courier, monospace;
}

@font-face {
	font-family: RM;
	src: url(../fonts/Richard\ Miller.otf);
}
@font-face {
	font-family: StanLee;
	src: url(../fonts/StanLee-Regular.otf);
}
@font-face {
	font-family: Roboto;
	src: url(../fonts/Roboto/Roboto-Regular.ttf);
}