body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', serif;
    /*letter-spacing: 1px;*/
    background-color: #181818;    
    background-image:url("../images/doom2.png");
    background-size:auto 155%;
    background-position: -15% 45%;
    background-repeat: no-repeat;
}
a{color: #181818;}
#sidebar{color: #818181;}
#hb{
    position: absolute;
    left: 5vw;
    top: 5vw;
    z-index: 9;
}
p{
    letter-spacing: 0;
    font-size: 16px;
}
.button{
    font-size: 30px;
    width: 50%;
    padding: 1vh;
    margin: 1vh auto 7vh auto;
}
h1{
    font-family: "RM";
    text-align: center;
}
#home{
    width:60%;
    min-height: min-content;
    position: absolute;
    -webkit-text-stroke-color: #181818;
    right:0;
    color: #d2d1dc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 16px;

}
#heading-style{
    font-size: 90px;
    margin-bottom: 0;
}
#time{
    display: flex;
    color: rgb(155, 143, 143);
    font-size: 40px;
    width:90%;
    justify-content: space-around;
    margin: 64px auto 32px;
    
}
#clock{
    display: flex;
    color:rgba(255,255,255,0.7);
    font-size:90px;
    height: 110px;
    letter-spacing: 1.2vw;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 0;
    justify-content: space-around;
    line-height:1;
    overflow: hidden;
    position: relative;
}

/* animation below */
.move{
    animation: move ease-in-out 1s infinite;
}
@keyframes move{
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(-25vh);
    }
}
.collector{
    text-align: center;
    align-items: center;
    margin-top: 10px;
}
input{
    margin: 10px auto;
    display: initial;
    -webkit-text-stroke-width: 0;
}
.collector, input{
    font-size: 28px;
    
}

@media (orientation: portrait) {
    body{
        background-size: 100% auto;
        background-position: 0 -256px;
    }
    #home{
        width: 90%;
        height: 1100px;
        bottom: 0;
        right: 5%;
    }
    p{
        font-size: 35px;
        line-height: 1.2;
    }
    #time{
        width: 100%;
    }
    #clock{
        color: #ffffff;
        letter-spacing: 2.5vw;
    }
    input{
        text-align: center;
        font-size: 62px;
        width: 80%;
        margin: 32px 10%;
        padding: 6px;
    }
    .button{
        all: unset;
        font-size: 65px;
        background-color: #181818;
        border: 4px solid rgb(155, 143, 143);
        letter-spacing: 8px;
        color: rgb(155, 143, 143);
        padding: 6px 32px;
        border-radius: 7px;

    }
    #sidebar{
        font-size: 36px;
    }
    .button>*{
        margin: 8px;
        
    }
    #heading-style{
        font-size: 110px;
        color: #d2d2d2;
    }
    
    h1{
        margin: 0 0 32px 0;
    }
    @keyframes move{
        from{
            transform: translateY(0);
        }
        to{
            transform: translateY(-8vh);
        }
    }
    #hb{
        width: 100px;
        height:100px;
    }
    #hb div{
        height: 8px;
        margin: 20px auto 20px auto ;
    }
}
.sc{
    font-size: 48px;
}

@font-face {
	font-family: RM;
	src: url(../fonts/Richard\ Miller.otf);
}
@font-face {
	font-family: Graphit;
	src: url(../fonts/Graphit/Graphit-Regular.otf);
}
@font-face {
	font-family: Roboto;
	src: url(../fonts/Roboto/Roboto-Regular.ttf);
}